[submodule "vendor/github.com/google/googletest.git"]
	path = vendor/github.com/google/googletest.git
	url = git@github.com:google/googletest.git
[submodule "vendor/github.com/doches/progressbar.git"]
	path = vendor/github.com/doches/progressbar.git
	url = git@github.com:doches/progressbar.git
